[toolchain]
anchor_version = "0.31.1"
solana_version = "2.2.12"

[features]
resolution = true
skip-lint = false

[programs.localnet]
account_data_matching = "E2gntntCv4d3ty7uTJEJhzqPQt6Cz35RgmRNk2gSr1GS"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
